body {
    background-color: rgb(219, 255, 231);
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 1px solid black;
    padding: 2px;
}

li a {
    background-color: rgb(88, 92, 153);
    color: white;
    padding: 5px;
    border-radius: 5px;
}